GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=81688894370-men2fe59sieo0hautlq9n3cq8tu1b7kf.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=your-google-client-id
FIREBASE_DATABASE_URL=https://zidea-9da13-default-rtdb.firebaseio.com
